/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: darken($secondary, 15);
  padding: 0 0 30px 0;
  color: $white;
  font-size: 14px;

  .footer-top {
    background: darken($secondary, 12);
    padding: 60px 0 30px 0;

    .footer-info {
      margin-bottom: 30px;
      h3 {
        font-size: 26px;
        margin: 0 0 10px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 3px;
        color: lighten($primary, 5);
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: $font-primary;
        color: $white;
      }
    }

    .social-links {
      a {
        display: inline-block;
        background: $secondary;
        color: $white;
        line-height: 1;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
          line-height: 0;
          font-size: 16px;
        }        
        
        &:hover {
          background: $primary;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 12px;
    }

    h4::before, h4::after  {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
    }

    h4::before {
      right: 0;
      background: $secondary;
    }

    h4::after {
      background: $primary;
      width: 60px;
    }

    .footer-links {
      margin-bottom: 30px;
      ul{
        list-style: none;
        padding: 5px 0 0 0;
        margin: 0;

        li {
          padding: 0 0 15px 0;
        }

        a {
          color: $white;
          transition: 0.3s;
          &:hover {
            color: $primary;
          }
        }
      }
    }

    .footer-contact {
      margin-bottom: 30px;
      p {
        line-height: 26px;
      }
    }

    .footer-newsletter {
      margin-bottom: 30px;

      input[type="email"] {
        border: 0;
        padding: 6px 8px;
        width: 65%;
        border-radius: 4px 0 0 4px;
      }
      input[type="submit"] {
        background: $primary;
        border: 0;
        border-radius: 0 4px 4px 0;
        width: 35%;
        padding: 6px 0;
        text-align: center;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background: darken($primary, 10%);
        }
      }
    }

  }

  .copyright {
    text-align: center;
    padding-top: 30px;
  }

  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: $white;
  }
}
